In [268]:
import pandas as pd
import matplotlib as plt
import io
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

import joblib

In [269]:
df = pd.read_csv('./DataSet/music.csv' ,  usecols=['age', 'gender','genre'])

In [270]:
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [271]:
X = df.drop(columns='genre')
y = df['genre']

In [273]:
# model = DecisionTreeClassifier()




# X_train , X_test , y_train , y_test =   train_test_split(X,y, test_size= 0.2)

# model.fit(X,y)


# joblib.dump (model , 'music_recommerndre.joblib')
# test_data = pd.DataFrame([X_test,y_test] , columns=['age', 'gender'])

# print(X_test , y_test)
# precisions = model.predict(X_test )

# score = accuracy_score(y_test , precisions)
# # precisions
# score

In [290]:
model = joblib.load('music_recommerndre.joblib')

newDf = pd.DataFrame( [ [23,1],[35,0]]  , columns=['age' , 'gender'])

precisions = model.predict(newDf)

precisions

array(['HipHop', 'Classical'], dtype=object)

In [281]:
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical